.weather-app {
  max-width: 600px;
  margin-top: 50px;
  margin-left: 20px;

  border: 1px solid #dadce0;
}

h1 {
  color: #0c66eb;
  font-size: 50px;
  padding-left: 20px;
}
form {
  padding-left: 20px;
}
button {
  margin-left: -65px;
  margin-top: 1px;
  margin-bottom: 20px;
}
#locate-button {
  position: relative;
  left: 45px;
  top: 23px;
}

#locate-result {
  color: #70757a;
  margin-top: 10px;
  margin-left: -30px;
  padding-left: 30px;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
#location {
  color: #70757a;
  font-size: 14px;
  line-height: 22px;
  margin-left: -30px;
  padding-left: 50px;
  font-family: arial, sans-serif;
}

#pic-icon {
  display: inline-block;
  height: 80px;
  margin-left: 10px;
  width: 80px;
}
#temp-icon {
  display: inline;

  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #202124;
  padding-top: 25px;
  padding-left: 20px;
}

.units {
  font-size: 13px;
  line-height: 24px;
  position: relative;
  bottom: 25px;
  left: -4px;
}
#info {
  list-style: none;
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}
#location {
  list-style: none;
}
#link {
  margin-left: 60px;
  padding-left: 21px;
  font-size: 12px;
}
.temp .active {
  color: #202124;
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  text-decoration: none;
}
